*.iml
/$MOD$Extractor
target/
log/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/misc.xml
.idea/dictionaries
.idea/libraries
*.exe
exe/
*.ipr
!/.mvn/wrapper/maven-wrapper.jar
.idea/encodings.xml
.idea/inspectionProfiles/
