<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="DefaultPushSource" value="https://pfsw.wincor-nixdorf.com:8083/nexus/service/local/nuget/nuget-releases/" />
    </config>
    <packageSources>
        <add key="Nexus" value="https://pfsw.wincor-nixdorf.com:8083/nexus/service/local/nuget/nuget-releases/" />
    </packageSources>
    <apikeys>
        <add key="https://pfsw.wincor-nixdorf.com:8083/nexus/service/local/nuget/nuget-releases/" value="########-####-####-####-############" />
    </apikeys>
    <packageSourceCredentials>
        <Nexus>
            <add key="Username" value="burhan.otour" />
            <add key="ClearTextPassword" value="wrongpassword" />
        </Nexus>
    </packageSourceCredentials>
</configuration>